<%- include header %>
<ul style="list-style:none" class="mymsg">
  <li><span>github: </span><a href="https://github.com/ljkikyo">https://github.com/ljkikyo</a></li><br/>
  <li><span>博客: </span><a href="http://blog.csdn.net/liujia1025621859">kikyo佳</a></li><br>
  <li>生命不等于是呼吸，生命是活动。——卢 梭 </li>
  </ul>
<%- include footer %>